html {
  height: 100%;
}

/* this will style all h1 elements with color mediumseagreen and fancy font */
h1 {
    color: 3CB371;
    font-family: Garamond, serif;
}

/* this will style all h2 elements with color seagreen and Comic Sans*/
h2 {
    color: 2E8B57;
    font-family: 'Comic Sans MS', cursive;
}

/* this will make the page background pale green */
body {
    background-color: 98FB98;
    color: 008000;
}
